.experience {
  padding: 2em 1.5em 6em;
  background-color: #0e0e0e;
  color: white;
}

.experience-title {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 3em;
}

.experience-card {
  border-radius: 12px;
  padding: 1.4em;
  margin-bottom: 2.5em;

  background: rgba(230, 220, 200, 0.047); /* mycket svag */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);

  transition: box-shadow 0.3s ease;
}
.experience-card:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.4);
}

.experience-heading {
  font-size: 1.05em;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.date {
  font-size: 0.8em;
  opacity: 0.6;
  margin-bottom: 1em;
}

.experience-text {
  font-size: 0.95em;
  line-height: 1.7;
  opacity: 0.85;
  margin-bottom: 0.8em;
}

@media (min-width: 768px) {
  .experience {
    padding: 6em 4em;
  }

  .experience-title {
    font-size: 2.2em;
    text-align: left;
  }

  .experience-card {
    max-width: 680px;
  }
}
