.section-title {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
  color: white;
  margin: 1em 0 2em;
}

.section-title::before,
.section-title::after {
  content: "";
  flex: 1;
  height: 1.5px;

  background: linear-gradient(to right, transparent, rgba(230, 220, 200, 0.55));
}

.section-title::after {
  background: linear-gradient(to left, transparent, rgba(230, 220, 200, 0.55));
}
