* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #0e0e0e;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}
